@media only screen and (min-width: 1901px) {
     
}

@media only screen and (min-width: 1401px) and (max-width: 1900px){ 
    
}

/*start of = (min-width: 1366px) and (max-width: 1440px)*/
@media only screen and (min-width: 1366px) and (max-width: 1400px){
   


/*end of = (min-width: 1366px) and (max-width: 1900px)*/			
}





 
/*start of = (min-width: 1280px) and (max-width: 1365px)*/	
@media only screen and (min-width: 1280px) and (max-width: 1365px){

    
    
/*end of = (min-width: 1280px) and (max-width: 1365px)*/			
}





/*start of = (min-width: 1024px) and (max-width: 1279px)*/
@media only screen and (min-width: 1024px) and (max-width: 1279px){

   
	
body { -webkit-text-size-adjust:none;  -webkit-overflow-scrolling: touch; }
 
 
/*end of = (min-width: 1024px) and (max-width: 1279px)*/			
}


/*start of = (min-width: 768px) and (max-width: 1023px)*/	
@media only screen and (min-width: 768px) and (max-width: 1023px){
  
 
body { -webkit-text-size-adjust:none; -webkit-overflow-scrolling: touch; overflow-x: hidden; }
  
 




/* end 768 */
}


@media only screen and (min-width:0px) and (max-width:767px){
   
    body { -webkit-text-size-adjust:none; -webkit-overflow-scrolling: touch; overflow-x: hidden; }
 
    .custome_banner.press_banner{ min-height: 400px; }  
 
   
}
 

@media only screen and (min-width:0px) and (max-width:520px){
    
 
  
 
   
}
 


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape)  {  

 


}

@supports (-webkit-touch-callout: none) {
    html, body {
        overflow-x: hidden;  
    }
}








